
<div class="img-holder"><img src="assets/img/hamburger.png" id="hamburger-pic"></div>

<h1 class="text-center">Eat Da Burger!</h1>

<div class="container"><hr></div>

<div class="container">
	<div class="row" id="lists">
		<div class="col-md-6" id="toBeEaten">
			<h2 class="text-center">Burgers to Eat!</h2>
			<ol class="center-block">
				{{#each burger}}
					{{#unless devoured}}
						<li>
							{{burger_name}}
							<button class="eat-burger" data-id="{{id}}">
								DEVOUR IT!
							</button
						</li>
					{{/unless}}
				{{/each}}
			</ol>
		</div>

		<div class="col-md-6" id="eaten">
			<h2 class="text-center">Eaten Burgers!</h2>
			<ol class="center-block">
				{{#each burger}}					
					{{#if devoured}}
						<li>
							{{burger_name}}
						</li>
					{{/if}}

				{{/each}}
			</ol>
		</div>
	</div>



	<div class="container"><hr></div>

	<h2 class="text-center">Add a Burger - Click Submit to Add</h2>
 	<div class="form-group" align="center">

		<form class="create-form">
		    <label id="burg-label" for="burg">Burger Name:</label>
		    <input type="text" id="burg" name="name"><br>
		  <button type="submit">Submit</button>
		</form> 

	 </div>
</div>	

